<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured">
<test thread-count="5" name="restassured">
<classes>
<class name="com.employeeapi.testcases.TC001_GET_ALL_EMPLOYEES"/>
<class name="com.employeeapi.testcases.TC002_GET_SINGLE_EMPLOYEE_RECORD"/>
<class name="com.employeeapi.testcases.TC003_POST_EMPLOYEES_RECORD"/>
<class name="com.employeeapi.testcases.TC004_PUT_EMPLOYEES_RECORD"/>
<class name="com.employeeapi.testcases.TC005_PUT_EMPLOYEES_RECORD"/>
</classes>
</test>
</suite>